# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/

# Builds
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Env / secrets
.env
.env.*
!.env.example

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Windows
*.orig.*

# manual ignored 
.claude
CARS24
node_modules
CARS24_MOBILE_ENGINEER_SDUI_ASSIGNMENT.pdf